<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rafel.gmall.manage.mapper.PmsSkuInfoMapper">
    
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">

        SELECT
            si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
        FROM
            pms_sku_info si,
            pms_sku_sale_attr_value ssav
        WHERE
            si.product_id=#{productId}
        AND si.id=ssav.sku_id

    </select>

    <!-- mybatis 返回非单一集合，而是多层集合需要建立映射关系 -->
    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.rafel.gmall.bean.PmsSkuInfo" autoMapping="true">

        <result column="si_id" property="id"></result>

        <collection property="skuSaleAttrValueList" ofType="com.rafel.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>

    </resultMap>

</mapper>